<!DOCTYPE html>
<html>
  <head>
    <%- include('includes/header', {title: "LD Report - รายงาน"}); -%>
    <script src="/public/bundle-report.js"></script>
  </head>
  <body>
    <div id="app">
      <%- include('includes/menu', {guest: false, activeLink: "report"}); -%>
      <div class="container">
        <div class="my-2 d-flex flex-row align-items-center">
          <h1 class="flex-grow-1">รายงาน</h1>
          <div>
            <button
              type="button"
              class="btn btn-primary"
              :disabled="loading"
              @click="reloadData"
              v-tooltip="'รีโหลด'"
            >
              <i class="fas fa-sync fa-fw"></i>
            </button>
            <a
              :href="exportLink"
              download
              class="btn btn-success"
              v-tooltip="'ส่งออกเป็น CSV'"
            >
              <i class="fas fa-file-csv fa-fw"></i>
            </a>
          </div>
        </div>
        <div v-if="loading" class="text-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">รอสักครู่...</span>
          </div>
        </div>
        <template v-else>
          <h2>กราฟข้อมูล</h2>
          <div class="row">
            <div class="col-6 col-md-6">
              <select
                v-model="graphFilters.method"
                class="form-select me-4"
                aria-label="ฟังก์ชั่น"
              >
                <option value="max">สูงสุด</option>
                <option value="avg">ค่าเฉลี่ย</option>
                <option value="min">ต่ำสุด</option>
              </select>
            </div>
            <div class="col-6 col-md-6">
              <select
                v-model="graphFilters.value"
                class="form-select"
                aria-label="ค่า"
              >
                <option value="score">คะแนน</option>
                <option value="duration">ระยะเวลา</option>
                <option value="correct">จำนวนข้อถูก</option>
                <option value="wrong">จำนวนข้อผิด</option>
              </select>
            </div>
          </div>
          <div
            v-if="graphFilters.students.length > 0"
            class="mx-auto my-2"
            style="position: relative; height: 400px"
          >
            <canvas ref="compareChart"></canvas>
          </div>
          <div v-else class="position-relative my-2" style="height: 400px">
            <div
              class="
                w-100
                text-center
                fs-4
                position-absolute
                top-50
                start-50
                translate-middle
              "
            >
              กรุณาเลือกข้อมูลเพื่อเปรียบเทียบ
            </div>
          </div>
          <h2>ข้อมูลนักเรียน</h2>
          <% if (role !== "student") { %>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="input-group mb-2">
                <span class="input-group-text">โรงเรียน</span>
                <select
                  v-model="filters.school"
                  class="form-select"
                  :disabled="filters.locks.includes('school')"
                  @change="filterData"
                >
                  <option :value="null">ทั้งหมด</option>
                  <option v-for="school of filters.allSchools" :value="school">
                    {{ school }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="input-group mb-2">
                <span class="input-group-text">ห้อง</span>
                <select
                  v-model="filters.room"
                  class="form-select"
                  :disabled="filters.locks.includes('room')"
                  @change="filterData"
                >
                  <option :value="null">ทั้งหมด</option>
                  <option v-for="room of filters.allRooms" :value="room">
                    {{ room }}
                  </option>
                </select>
                <span class="input-group-text">ชั้น</span>
                <select
                  v-model="filters.grade"
                  class="form-select"
                  :disabled="filters.locks.includes('grade')"
                  @change="filterData"
                >
                  <option :value="null">ทั้งหมด</option>
                  <option v-for="grade of filters.allGrades" :value="grade">
                    {{ grade }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <b-pagebar
            v-if="filterStudents.length > 0"
            v-model="page"
            :total-page="totalPage"
          ></b-pagebar>
          <div class="text-end">
            แสดงผล {{ currentPageRange.start }} - {{ currentPageRange.end }} จาก
            {{ filterStudents.length }} รายการ
          </div>
          <% } %>
          <div v-if="selectedStudents.length > 0" class="table-responsive mb-4">
            <table class="table table-sm table-bordered">
              <thead>
                <tr>
                  <th class="text-center align-middle">No.</th>
                  <th class="text-center align-middle">ชื่อ-สกุล</th>
                  <th class="text-center align-middle">เพศ</th>
                  <th class="text-center align-middle">โรงเรียน</th>
                  <th class="text-center align-middle">ห้อง</th>
                  <th class="text-center align-middle">ระดับชั้น</th>
                  <% if (role !== "admin") { %>
                  <th class="text-center align-middle">Save Data</th>
                  <% } %>
                  <th class="text-center align-middle"></th>
                  <template v-for="(_, i) of new Array(9)">
                    <th class="text-center align-middle" :key="i">
                      ด่าน {{ i + 1 }}
                    </th>
                  </template>
                  <th class="text-center align-middle">รวม</th>
                  <th class="text-center align-middle">คำสั่ง</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="(student, i) of selectedStudents">
                  <tr :key="`student-1-${i}`">
                    <td
                      rowspan="2"
                      class="text-center align-middle"
                      style="width: 2em"
                    >
                      {{ (page - 1) * eachPage + i + 1 }}
                    </td>
                    <td rowspan="2" class="align-middle">
                      {{ student.fullname }}
                    </td>
                    <td
                      rowspan="2"
                      class="text-center align-middle fs-4"
                      style="width: 2em"
                    >
                      <i
                        v-if="student.gender === 'male'"
                        class="fas fa-mars"
                        v-tooltip="'ชาย'"
                        style="color: blue"
                      ></i>
                      <i
                        v-else-if="student.gender === 'female'"
                        class="fas fa-venus"
                        v-tooltip="'หญิง'"
                        style="color: pink"
                      ></i>
                      <i v-else class="fas fa-question" v-tooltip="'อื่นๆ'"></i>
                    </td>
                    <td rowspan="2" class="text-center align-middle">
                      {{ student.school }}
                    </td>
                    <td
                      rowspan="2"
                      class="text-center align-middle"
                      style="width: 100px"
                    >
                      {{ student.room }}
                    </td>
                    <td
                      rowspan="2"
                      class="text-center align-middle"
                      style="width: 100px"
                    >
                      {{ student.grade }}
                    </td>
                    <% if (role !== "admin") { %>
                    <td
                      rowspan="2"
                      class="text-center align-middle"
                      style="width: 150px"
                    >
                      <span
                        class="d-inline-block text-truncate"
                        style="width: 100px"
                        >{{ student.saveData }}</span
                      >
                    </td>
                    <% } %>
                    <td class="text-center align-middle">คะแนน</td>
                    <template v-for="(group, j) of student.summary">
                      <td
                        class="text-center"
                        :key="j"
                        :style="`background-color: ${percentileColor(student, j)};`"
                      >
                        <template v-if="group.stage !== 'รวม'">
                          {{ group.maxCount }}
                        </template>
                      </td>
                    </template>
                    <td
                      rowspan="2"
                      class="text-center align-middle text-nowrap"
                    >
                      <span
                        class="link-dark fs-4"
                        v-tooltip="'แสดง/ซ่อนในกราฟ'"
                        style="cursor: pointer"
                        @click="toggleStudentGraph(student)"
                      >
                        <span class="fa-stack fa-fw" style="width: 1.25em">
                          <i class="fas fa-chart-bar fa-fw fa-stack-1x"></i>
                          <i
                            v-if="isStudentInGraph(student)"
                            class="fas fa-slash fa-fw fa-stack-1x"
                          ></i>
                        </span>
                      </span>
                      <a
                        class="link-primary fs-4"
                        v-tooltip="'รายละเอียด'"
                        :href="`/report/student/${student._id}`"
                      >
                        <i class="fas fa-info-circle fa-fw"></i>
                      </a>
                    </td>
                  </tr>
                  <tr :key="`student-2-${i}`">
                    <td class="text-center align-middle">ดาว</td>
                    <template v-for="(group, j) of student.summary">
                      <td class="text-center align-middle" :key="j">
                        <span
                          class="star-container text-nowrap"
                          v-tooltip="`${group.star} ดาว`"
                        >
                          <i
                            class="fas fa-star"
                            v-for="(_, k) of new Array(group.star)"
                            :key="k"
                          ></i>
                        </span>
                      </td>
                    </template>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
          <div v-else class="text-center fs-4 mb-4">ไม่พบข้อมูล</div>
        </template>
      </div>
      <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
        <b-toast ref="errorToast" class="bg-danger">
          ออกจากระบบไม่สำเร็จ
        </b-toast>
      </div>
    </div>
  </body>
</html>
