body {
  font-family: "Prompt", sans-serif;
}

.star-container {
  color: rgb(231, 231, 18);
}

.toast .toast-body {
  background-color: rgba(255, 255, 255, 0.85);
}

.toast .toast-header {
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}
